.App {
  text-align: center;
}

main {
  min-height: calc(100vh - 112px) ;
  background-color: #E7EBEE;
}

.text-area {
  height: 50%;
  width: 70%;
  padding: 2rem;
  border-radius: 10px;
  background-color: #F3F5F7;
}

form {
  width: 50%;
}

.spinner {
  border: 4px solid rgb(61, 135, 245, 0.7);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: transparent;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  background-color: #F8F9FA;
}

@media (max-width: 800px) {
  form {
    width: 100%;
  }

  .text-area {
    width: 100%;
  }
}