.App {
  text-align: center;
}

main {
  min-height: calc(100vh - 112px) ;
  background-color: #E7EBEE;
}

.text-area {
  height: 50%;
  width: 70%;
  padding: 2rem;
  border-radius: 10px;
  background-color: #F3F5F7;
}

footer {
  background-color: #F8F9FA;
}

